* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
$music: #487aad;
$film: #426494;
$tv: #89a191;
$art: #556564;
$society: #707e98;
$food: #998979;
$lit: #ba987d;
$tech: #a26f38;
*/
body {
  background: #09101b;
  color: #eee;
}

body.custom-background {
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

a {
  color: #eee;
  text-decoration: none;
}

h1 a {
  color: #eee;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea {
  border: none;
  background: #ddd;
  opacity: 0.7;
  filter: alpha(opacity=70);
  padding: 0.3em 0.4em;
  box-shadow: none;
}

/******************************************************************************\
	Settings
\******************************************************************************/
@font-face {
  font-family: "DINNeuzeitGroteskStd-Light";
  src: url(font-path("dinneuzeitgroteskstd-light-webfont.eot"));
  src: url(font-path("dinneuzeitgroteskstd-light-webfont.eot?#iefix")) format("embedded-opentype"), url(font-path("dinneuzeitgroteskstd-light-webfont.woff")) format("woff"), url(font-path("dinneuzeitgroteskstd-light-webfont.ttf")) format("truetype"), url(font-path("dinneuzeitgroteskstd-light-webfont.svg#DINNeuzeitGroteskStd-Light")) format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "news_cyclebold";
  src: url(font-path("newscycle-bold-webfont.eot"));
  src: url(font-path("newscycle-bold-webfont.eot?#iefix")) format("embedded-opentype"), url(font-path("newscycle-bold-webfont.woff")) format("woff"), url(font-path("newscycle-bold-webfont.ttf")) format("truetype"), url(font-path("newscycle-bold-webfont.svg#news_cyclebold")) format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "news_cycleregular";
  src: url(font-path("newscycle-regular-webfont.eot"));
  src: url(font-path("newscycle-regular-webfont.eot?#iefix")) format("embedded-opentype"), url(font-path("newscycle-regular-webfont.woff")) format("woff"), url(font-path("newscycle-regular-webfont.ttf")) format("truetype"), url(font-path("newscycle-regular-webfont.svg#news_cycleregular")) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
/******************************************************************************\
    Font calculation mixins
\******************************************************************************/
html {
  font-size: 62.5%;
}

/******************************************************************************\
	Standard font styling
\******************************************************************************/
body {
  font-family: "DINNeuzeitGroteskStd-Light", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

p,
ul,
ol {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

blockquote {
  position: relative;
}
blockquote:before {
  display: block;
  float: left;
  content: "\"";
  font-size: 25px;
  font-size: 2.5rem;
  margin: 0 15px 15px 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
  font-family: "DINNeuzeitGroteskStd-Light", sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  h5,
  h6 {
    word-wrap: normal;
  }
}

h1,
.h1 {
  font-size: 25px;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 481px) {
  h1,
  .h1 {
    font-size: 30px;
    font-size: 3rem;
  }
}

h2,
.h2 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 481px) {
  h2,
  .h2 {
    font-size: 20px;
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: 11px;
  font-size: 1.1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 481px) {
  h3,
  .h3 {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

h4,
h5,
h6 {
  font-size: 10px;
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}

h2,
h3 {
  page-break-after: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

p ~ h1 {
  margin-top: 3rem;
}

html .mceContentBody {
  font-size: 100%;
  max-width: 650px;
}

body.admin-bar {
  margin-top: -28px;
  padding-bottom: 28px;
}

#wpadminbar {
  top: auto !important;
  bottom: 0;
}

#wpadminbar .quicklinks > ul > li {
  position: relative;
}

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  bottom: 28px;
}
