// mixins

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// variables
$color1: #222;
$color2: #7f8772;
$color3: #a6946f;

/*
$music: #487aad;
$film: #426494;
$tv: #89a191;
$art: #556564;
$society: #707e98;
$food: #998979;
$lit: #ba987d;
$tech: #a26f38;
*/

$music: #223959;
$film: #28475C;
$tv: #4A6C74;
$art: #8BA693;
$society: #32494D;
$food: #678774;
$lit: #BAB28D;
$tech: #A1685A;

$about: #34373F;
$photo: #686C75;
$other: #BEB7A7;
$contact: #8E867C;


// default styling
body {
	background: $color3;
	color: $color2;
}

body.custom-background {
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

a {
	color: $color3;
	text-decoration: none;
}

h1 a {
	color: $color2;
}

img {
	max-width: 100%;
	height: auto;
}

input, textarea {
	border: 1px solid $color1;
	background: $color2;
	padding: 0.3em 0.4em;
	box-shadow: inset -1px -1px 6px $color1;
}