.cat_loop_wrap {
	width: 100%;
	margin: 5% 0;
	display: block;
	overflow: hidden;
}

.cat_loop_list li {
	list-style: none;
	float: left;
	margin: 10px;
	width: 250px;
}

.cat_loop_list a {
	display: inline-block;
	@include opacity(0.8);
	@include transition (all 0.5s ease);
}

.cat_loop_list a:hover {
	@include opacity(1);
}

.cat_loop_text_box {
	width: 250px;
	padding: 10px;
	background: #fff;
}

.cat_loop_text_box h2 {
	font-family: $base-font;
	@include font-size(1.8);
	text-align: right;
	color: #666;
	margin: 5px 0;
}