.footer-widgets {
	@include clearfix;
	@include span-columns(12);

	background: $color1;
	padding: 1.5em 0;
	list-style: none;
	margin: 0;

}

/* BOTTOM NAVIGATION
   ========================================================================== */

#bottom_nav {
	width: 100%;
	display: block;
	margin: 40px 0 0 0;
}

#bottom_nav p {
	font-family: 'DINNeuzeitGroteskStd-Light', sans-serif;
	font-size: 12px;
	text-align: right;
	padding: 10px 10px 4px 25px;
	float: left;
	color: #eee; 
	margin: 0;
}

#bottom_nav p i {
	margin-left: 10px;
}

.bot_featured {
	width: 15%;
	background: #333;
}

.bot_music {
	background: $music;
}

.bot_film {
	background: $film;
}

.bot_tv {
	background: $tv;
}

.bot_art {
	background: $art;
}

.bot_society {
	background: $society;
}

.bot_food {
	background: $food;
}

.bot_lit {
	background: $lit;
}

.bot_tech {
	background: $tech;
}

/* FOOTER
   ========================================================================== */

#footer {
	width: 100%;
	background: #000 url(gfx/bottom_portrait.jpg) no-repeat left 0;
	position: fixed;
	bottom: 0;
	height: 500px;
	z-index: -2;
}

#contact_box {
	width: 400px;
	margin: 50px 0 0 500px;
	background: rgba(0,0,0,0.6);
	display: block;
}

.contact_plus {
	width: 100px;
	float: left;
	margin: 0;
}

.contact_name_box {
	width: 300px;
	float: left;
	display: block;
}

.contact_name_box p {
	color: #eee;
}