/* NAVIGATION
   ========================================================================== */

#navigation {
	width: 100%;
	height: 30px;
	display: block;
	z-index: 1;
	position: static;
}

#erik_text {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0 0 0 20%;
	display: none;
	float: left;
	padding-top: 7px;
}

/* NAV LEFT
   ========================================================================== */

#nav_left {
	width: 70%;
	margin: 0 0.5% 0 0;
	float: left;
	background: #999;
	padding: 0; 
}

#articles_nav {
	font-family: $base-font;
	color: #eee;
	@include font-size(1.4);
}

#nav_left ul {
	margin: 0;
	text-align: right;
	height: 30px;
	width: 180px;
	float: right;
	padding: 0;
}

#nav_left ul li a {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	@include font-size(1.2);
	line-height: 23px;
	letter-spacing: 0.1em;
	padding: 7px 10px 0 0;
	display: inline-block;
}

.sub_nav {
	background: #666;
}

#nav_left ul, #nav_left li {
	list-style: none;
	margin: 0;
}

#nav_left ul {
	position: relative; 
	z-index: 597; 
}

#nav_left ul li.hover,
#nav_left ul li:hover {
	position: relative; 
	z-index: 599; 
	cursor: default;
}

#nav_left ul ul {
	visibility: hidden; 
	top: 100%; 
	left: 0; 
	z-index: 598;
	border-top: 2px solid transparent;
}

#nav_left ul li:hover > ul { 
	visibility: visible;
}

#nav_left ul ul li {
	font-weight: normal; 
	height: 30px;
}

#nav_left ul li:hover > a {
      color: #FFF;
      display: visible !important;
}

#nav_left:after, #nav_left ul:after {
    content: '';
    display: block;
    clear: both; 
}

.awe_font {
	display: inline-block;
	padding: 0 9px 0;
	display: hidden;
}

#music_plus {
	display: hidden;
}

.nav_music a {
	background: shade($music, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_music a:hover {
	background: $music;
	@include opacity(1);
}

.nav_film a {
	background: shade($film, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_film a:hover {
	background: $film;
	@include opacity(1);
}

.nav_tv a {
	background: shade($tv, 30%);
	@include opacity(0.85);
	display: block;
}

.nav_art a {
	background: shade($art, 30%);
	@include opacity(0.85);
	display: block;
}

.nav_society a {
	background: shade($society, 30%);
	@include opacity(0.85);
	display: block;
}

.nav_food a {
	background: shade($food, 30%);
	@include opacity(0.85);
	display: block;
}

.nav_lit a {
	background: shade($lit, 30%);
	@include opacity(0.85);
	display: block;
}

.nav_tech a {
	background: shade($tech, 30%);
	@include opacity(0.85);
	display: block;
}

/* NAV RIGHT
   ========================================================================== */

#nav_right {
	width: 29%;
	margin: 0;
	float: left;
	background: #999;
}

#nav_right ul {
	margin: 0;
	text-align: left;
	height: 30px;
	padding: 0 0 0 10px;
}

#nav_right ul li a {
	color: #eee;
	text-decoration: none;
	font-family: 'DINNeuzeitGroteskStd-Light', sans-serif;
	font-size: 15px;
	line-height: 34px;
	letter-spacing: 0.1em;
}