.main-menu {
	padding-top: 20px;

	.menu-item {

	}

	.menu-item a {
		color: scale-lightness($color1, 70%);
		white-space: nowrap;
	}

	.menu-item a:hover {
		color: $color2;
	}

}

/* NAVIGATION
   ========================================================================== */

#navigation {
	width: 100%;
	height: 30px;
	display: block;
	z-index: 1;
	position: static;
}

#erik_text {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0 0 0 20%;
	display: none;
	float: left;
	padding-top: 7px;
}

/* NAV LEFT
   ========================================================================== */

#nav_left {
	width: 70%;
	margin: 0 0.5% 0 0;
	float: left;
	background: #999;
	padding: 0; 
}

#nav_left ul {
	margin: 0;
	text-align: right;
	height: 30px;
	width: 150px;
	float: right;
	padding: 0;
}

#nav_left ul li a {
	color: #eee;
	text-decoration: none;
	font-family: 'DINNeuzeitGroteskStd-Light', sans-serif;
	font-size: 12px;
	line-height: 23px;
	letter-spacing: 0.1em;
	padding: 7px 10px 0 0;
}

#nav_left ul li a:hover {
	background: #aaa;
}

.sub_nav {
	background: #666;
}

#nav_left ul, #nav_left li {list-style: none; margin: 0;}
#nav_left ul {position: relative; z-index: 597; }
#nav_left ul li {min-height: 1px; vertical-align: middle;}
#nav_left ul li.hover,
#nav_left ul li:hover {position: relative; z-index: 599; cursor: default;}
#nav_left ul ul {visibility: hidden; top: 100%; left: 0; z-index: 598;}
#nav_left ul ul li {float: none;}
#nav_left ul ul ul {margin-top: -60px; left: -150px; }
#nav_left ul li:hover > ul { visibility: visible;}
#nav_left ul ul {bottom: 0; left: 0;}
#nav_left ul ul {margin-top: 0; }
#nav_left ul ul li {font-weight: normal; height: 30px;}
#nav_left a { display: block; line-height: 1em; text-decoration: none; }

#nav_left ul li:hover > a, #cssmenu ul li.active > a {
      background: #666;
      color: #FFF;
      display: visible !important;
}

#nav_left ul li.last ul {
      left: auto;
      right: 0; 
}
#nav_left ul li.last ul ul {
        left: auto;
        right: 99.5%;
}

#nav_left > ul { *display: inline-block; }

#nav_left:after, #nav_left ul:after {
    content: '';
    display: block;
    clear: both; 
}

.has-sub {
	 border-top: 3px solid transparent;
}

.awe_font {
	display: inline-block;
	padding: 0 9px 0 0;
}

.music a {
	background: $darkb;
	display: block;
}

.television a {
	background: $darkg;
	display: block;
}

.travel a {
	background: $lightg;
	display: block;
}

.movies a {
	background: $yellow;
	display: block;
}

.art a {
	background: $orange;
	display: block;
}

/* NAV RIGHT
   ========================================================================== */

#nav_right {
	width: 29%;
	margin: 0;
	float: left;
	background: #999;
}

#nav_right ul {
	margin: 0;
	text-align: left;
	height: 30px;
	padding: 0 0 0 10px;
}

#nav_right ul li a {
	color: #eee;
	text-decoration: none;
	font-family: 'DINNeuzeitGroteskStd-Light', sans-serif;
	font-size: 15px;
	line-height: 34px;
	letter-spacing: 0.1em;
}