@import "vendor/bourbon/bourbon";
@import "grid-settings";
@import "base";
@import "typography";

$content-width: 650px;

html .mceContentBody {
	font-size: 100%;
	max-width: $content-width;
}

body.admin-bar {
        margin-top: -28px;
        padding-bottom: 28px;
    }
    #wpadminbar {
        top: auto !important;
        bottom: 0;
    }
    #wpadminbar .quicklinks>ul>li {
        position:relative;
    }
    #wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
        bottom:28px;
    }